body {
 font-family: 'Poppins', sans-serif;
 margin: 0;
 padding: 0;
 width: 100%;
 background-color: #F8F9FB;
}

header {
 display: inline;
}

nav {
 background: #173F5F;
 height: 65px;
 margin: 0px;
 padding: 0px;
 position: sticky;
 width: 100%;
}

nav ul{
 list-style: none;
 padding-right: 30px; 
}

nav ul li{
 float: right;
 line-height: 65px;
 width: 6%;
}

nav ul li a {
 float: left;
 width: 100%;
 display: block;
 text-align: center;
 color: #fff;
 text-decoration: none;
}

nav ul li a:hover{
 background-color: #20639B;
 display: block;
}

nav ul{
 list-style: none;
 padding-right: 30px; 
}

nav ul li{
 float: right;
 line-height: 65px;
 width: 6%;
}

main {
 overflow: auto;
}

footer {
 color: white;
 background-color: #173F5F;
 height: 100px;
 text-align: center;
 font-weight: bold;
}

h2 {
 color: #173F5F;
 text-align: center;
 margin: 0px;
}

h3 {
 color: #173F5F;
}

h5 {
 color: #b8b8b8;
 font-weight: normal;
 margin-left: 10px;
}

#content {
 width: 100%;
 float: left;
 margin-top: 20px;
}

#content table {
 padding-bottom: 20px;
}

.paket {
  display: inline-flex;
  margin: auto;
}

.row {
 display: flex; 
 margin-bottom: 20px;
}

.featured-image {
 width: 90%;
 height: 200px;
 object-fit: cover;
 object-position: center;
}

.card {
 background-color: #fff;
 background-clip: border-box;
 border-radius: 0.25rem;
 margin: 1% 20px;
 box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.1);
 border-radius: 20px;
 width: 39%;
}

.card-header {
 padding: 0.5rem 0rem 0.5rem 1rem;
 margin-top: 0px;
 height: 70px;
 background-color: #fff;
 border-top: 0px;
 box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
 border-radius: 20px 20px 0px 0px;
}

.title-team {
 border-bottom: 1px solid #c9c5c5;
 width: 210px;
 margin: 0 auto;
}

.additional-content {
  margin-top: 30px;
}

.team {
 display: flex;
}

.staff {
 margin: 30px auto;
}

.staff:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.team-text {
 text-align: center;
}

.team-text p {
 color: #c9c5c5;
 font-size: 16px;
}

.newsletter-container {
 width: 100%;
 background-color: #20639B;
 height: 250px;
 display: flex;
}

.newsletter-text {
 width: 30%;
 margin: auto 1%;
 color: white;
}

.newsletter {
  width: 67%;
  float: right;
  max-height: 80px;
  margin: auto 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 5px;
  top: 10px;
  background-color: white;
}

.newsletter > input {
  width: 75%;
  padding: 16px;
  border: 0;
  border-bottom: 1px solid cornflowerblue;
  font-weight: bold;
}

.newsletter > input:focus {
  outline: 0;
  border-bottom: 2px solid cornflowerblue;
}

.newsletter > input:focus::placeholder {
  font-weight: bold;
}

.newsletter >  input::placeholder {
  color: cornflowerblue;
  font-weight: normal;
}

.newsletter > button {
  width: 23%;
  cursor: pointer;
  margin-left: auto;
  padding: 16px;
  background-color: #20639B;
  color: white;
  border: 0;
  text-transform: uppercase;
}

.featured-image {
 max-width: 100%;
 max-height: 300px;
 object-fit: cover;
 object-position: center;
 margin-top: 20px;
}

* {
 box-sizing: border-box;
 padding: 0px;
 margin: 0px;
}

.judul {
 float: left;
 max-width: 30%; 
 margin-left: 20px;
 font-size: 30px; 
 font-weight: lighter;
}

.judul a {
 line-height: 65px;
 text-decoration: none;
 color: #FFF;
}


.footer-logo{
  float:left;
  padding: 30px 20px; 
}

.footer-list{
  float: right;

}
.footer-list li{
  padding : 5px 20px;
}

li{
  list-style: none;

}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://i0.wp.com/www.tabloidwisata.com/wp-content/uploads/2016/03/Sunrise-Gunung-Prau-dieng.jpg?zoom=2.625&resize=382%2C248);
  background-size: cover;
  height: 600px;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 1;
  font-size: 45px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 30px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #20639B;
  border-radius: 10px;
}

.signup:hover {
  background-color: #173F5F;
  transform: scale(1.08);
}

.loadmore {
  background-color: #20639B;
  margin-bottom: 10px;
  border: 0;
  border-radius: 10px;
  box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}


